.container {
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 100px;
  grid-gap: 50px;
  align-content: end;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10.5vh;
  margin-bottom: 100px;
}
