.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: url("../../assets/background2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: inherit;
  background-repeat: no-repeat;
}

.main {
  flex-direction: row;
  margin-right: 30px;
}
.detailContent {
  background-color: rgba(255, 215, 0, 0.7);
  border: solid #6495ed 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50%;
  padding: 40px;
  border-radius: 25px;

  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.detailContent .image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  height: 200px;
  width: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.detailContent .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.detailName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; 
  font-size: 3em;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #6495ed;
  text-shadow: -2px -2px 1px #4c4b4b;
}

.cardDetail {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: flex-start;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #6495ed;
  text-shadow: -2px -2px 1px #4c4b4b;
  font-size: medium;  
}

.buttonBack {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
  width: 120px;
  padding: 10px;
  background-color: #f44336;
  border: solid #f44336 1px;
  color: #fff;
  box-shadow: inset 0 0 5px #808080;
  border-radius: 4px;
  font-family: helvetica, arial;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.buttonBack:hover {
  background-color: #d32f2f;
}

.cardButton {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 200px;
  width: 200px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: -10px;
}
