.detailContent {
    display: flex;
    flex-direction: column;
     margin-left: 30%;
     margin-right: 30%;
     margin-bottom: 20px;
    align-items: center;
    background-color: #b6cbd1 ;
    border: solid #39ff14 1px;
    border-radius: 20px;
      width: 40%;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transition: transform 0.25s ease-out;
  }
  .detailContent:hover {
    transform: scale(1.05);
  }