.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 215, 0, 0.7);
  border: solid #6495ed 1px;
  background-position: center;
  width: 20vw;
  height: 50vh;
  padding: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transition: transform 0.25s ease-out;
  margin: 30px auto;
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  padding: 0;
  outline: none;
}

.name {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #6495ed;
  text-shadow: -2px -2px 1px #4c4b4b;
  margin-top: 10px;
}

.types {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #6495ed;
  text-shadow: -2px -2px 1px #4c4b4b;
  margin-bottom: 10px;
}

.image {
  position: relative;
  padding: 10px;
  left: 0;
  width: 150px;
  height: 150px;

  margin-left: 50px;
  margin-bottom: 30px;
}
.image:hover {
  transform: scale(1.1);
}
