.home {
  position: relative;
  top: 10;
  left: 0;
  right: 0; 
  width: 100vw;
  height: 220vh; 
  background: url("../../assets/background2.jpg");
  background-attachment: inherit;
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
}

.barContainer {
  display: flex;
  background-color: #6495ed;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 20px;
  z-index: 999;
}

.titleImg {
  height: 100px;
  width: fit-content;
  padding: 20px;
  margin-right: 100px;
}

.filters {
  flex: 1;
  display: flex;
  align-items: center;

  margin-right: 10px;
  padding: 8px 12px;

  font-size: 14px;
  color: #555;
}

.reload {
  margin-left: 10px;
  height: 60px;
  width: 100px;
  padding: 8px 12px;
  background-color: #f44336;
  border: solid #f44336 1px;
  color: #fff;
  box-shadow: inset 0 0 5px #808080;
  border-radius: 4px;
  font-family: helvetica, arial;
  font-weight: bold;
  text-align: justify;
  font-size: 14px;
  cursor: pointer;
}

.reload:hover {
    background-color: #d32f2f;
  }

.select {
  margin-left: 10px;
}



.paginated {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cardsContainer {
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  justify-content: space-between;
}
