.video-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.video-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  height: 80vh;
  background-color: rgba(100, 149, 237, 0.7);
  border: solid rgb(255, 215, 0, 0.7) 1.5px;
  background-position: center;
  padding: 10px;
    text-align: center;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transition: transform 0.25s ease-out;
  margin: 30px auto;
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  margin-top: 10vh;
  margin-bottom: auto;
  margin-right: 33vw;
  margin-left: 33vw;

  position: absolute;
}

.LandingImg {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: fit-content;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

.titleLanding {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-size: 3rem;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #6495ed;
  text-shadow: -2px -2px 1px #4c4b4b;
  margin-top: -1vh;
  margin-left: auto;
  margin-right: auto;
}
.text{
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style:normal;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #6495ed;
  text-shadow: -2px -2px 1px #4c4b4b;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

}

.landingButton {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
    background-color: #ff3f3f;
  color: white;
  width: 10vw;
  height: 5vh;
  border-radius: 4px;
  align-items: center;
  font-family: helvetica, arial;
  font-weight: bold;  
  font-size: medium;
  border: solid #f44336 1px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 0 5px #808080;
  margin-top: 5vh;
}

.landingButton:hover {
  background-color: #d32f2f;
}
